body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.header {
  font-size: 70px;
}

.taskbox-container {
  width: 33vw;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  border: solid grey 0.5px;
}

.taskbox-container input {
  width: 100%;
  height: 50px;
}

.taskbox-footer {
  width: 100%;
  height: 30px;
  margin-bottom: auto;
  border-top: solid 0.5px grey;
}

ul {
  list-style-type: none;
  padding-left: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

li {
  width: 100%;
  height: 50px;
  border: solid green 1px;
  display: inline-flex;
    
}

.x-button {
  margin-left: auto;
  margin-right: 10px;  
}