body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  /* background: center/cover url(../img/paper-texture.jpg) repeat; */
}

.header {
  font-size: 90px;
  color: #EEE1E2;
  font-weight: lighter;
}

.taskbox-container {
  width: 33vw;
  height: auto;
  display: flex;
  flex-direction: column;
  border: solid rgba(128, 128, 128, 0.224) 0.5px;
  /* box-shadow: 5px 0 5 px -4px rgba(0, 0, 0, 0.8), -5px 0 5px -4px rgba(0, 0, 0, 0.8); */
  box-shadow: 2px 0px 3px, -2px 0px 3px;
  color: rgba(0, 0, 0, 0.600);
}

.taskbox-container input {
  width: 100%;
  height: 50px;
  background-color: transparent;
  border-color: transparent;
  padding-left: 35px;
  font-size: 23px;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.600);
}

.taskbox-container input:focus {
  outline: none;
}

.taskbox-container input::placeholder {
  font-size: 23px;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.600)
}

.taskbox-footer {
  width: 100%;
  height: 20px;
  margin-bottom: 0;
  padding-left: 15px;
  border-top: solid 0.5px rgba(128, 128, 128, 0.224);
  font-size: 15px;
  color: rgba(0, 0, 0, 0.4);
}

ul {
  list-style-type: none;
  padding-left: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}

li {
  width: 100%;
  height: 50px;
  border-top: solid rgba(128, 128, 128, 0.224) 1px;
  display: inline-flex;
  font-size: 23px;
  font-weight: lighter;
  padding-left: 35px;    
}

.x-button {
  margin-left: auto;
  margin-right: 10px;
  cursor: pointer;
  color: rgba(255, 0, 0, 0.381);
}

/* .x-button:hover {
  color: rgb(255, 0, 0);
} */

/* .hide {
  display: none;
} */

/* li:hover .hide {
  display: inline;
  margin-left: auto;
  margin-right: 10px;
  cursor: pointer;
  color: rgba(255, 0, 0, 0.477);
} */